<div class = "jumbotron center" >
 <h1>Welcome to SeatYourself!</h1>
 <%= link_to "Log in", "#", class: "btn btn-primary" %>
 <%= link_to "Sign up", new_customer_url, class: "btn btn-primary" %>
</div>

