$body-bg:                          #ecf0f1;
$font-family-sans-serif:           'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                     45px;
$navbar-default-bg:                 white;
$navbar-default-brand-color:        #c0392b;
$brand-primary:                     #c0392b;
$jumbotron-bg:                      white;
$padding-base-horizontal:           12px;
$padding-base-vertical:             6px;

@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}